<main>
    <div class="acao">
        <img src="../../assets/tropa1.jpg" alt="" srcset="">
        <P><a [routerLink]="['entidade']">Tropa de Elite 1</a> </P>
    </div>
    <div class="romance">
        <img src="../../assets/tropa2.jpeg" alt="" srcset="">
        <p><a [routerLink]="['romance']"> Tropa de Elite 2</a> </p>
    </div>
    <div class="terror">
        <img src="../../assets/cidade.jpg" alt="" srcset="">
        <p> <a [routerLink]="['terror']">Cidade dos Homens</a> </p>
    </div>
</main>