main{
    background-color: rgba(0, 0, 0, 0.699);
    height:auto;
    padding: 2rem;
    gap: 2rem;
    width: auto;
    text-align: center;
    color: white;
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}
main img{
    width: 100px;
    height:100px;
    border-radius: 10px;
    line-height: 200px;

}

main p a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    
}
main p:hover{
    background: rgba(243, 0, 0, 0.404);
    border-radius: 10px;
    transform: scale(1.1);
    transition: background-color 0.3s ease;
}
