

    <main>
        <div class="acao">
            <img src="../../assets/terror1.jpg" alt="" srcset="">
            <P><a [routerLink]="['']">A Entidade</a> </P>
        </div>
        <div class="romance">
            <img src="../../assets/terror3.jpeg" alt="" srcset="">
            <p><a [routerLink]="['romance']"> O Último Exorcismo 2</a> </p>
        </div>
        <div class="terror">
            <img src="../../assets/terro2.jpeg" alt="" srcset="">
            <p> <a [routerLink]="['terror']">O Último Exorcismo</a> </p>
        </div>
    </main>

<router-outlet></router-outlet>