<main>
    <div class="acao">
        <img src="../../assets/romance1.jpeg" alt="" srcset="">
        <P><a [routerLink]="['entidade']">O Melhor de Mim</a> </P>
    </div>
    <div class="romance">
        <img src="../../assets/romance2.jpg" alt="" srcset="">
        <p><a [routerLink]="['romance']"> Perdida</a> </p>
    </div>
    <div class="terror">
        <img src="../../assets/romance3.jpg" alt="" srcset="">
        <p> <a [routerLink]="['terror']">Um Porto Seguro</a> </p>
    </div>
</main>